include critique-data

-
    var imgWidth = 80
    var imgHeight = 80

//- Отзывы
section.reviews
    .container 
        h2.reviews__title.section__title Рецензии
        ul.reviews__list
            each review in critique
                li.reviews__item
                    .reviews__wrapper
                        .reviews__info
                            .reviews__box-images
                                img.reviews__img(
                                    src=`${pathContentImg}${review.img}`
                                    alt="Фото автора отзыва"
                                    width=`${imgWidth}`
                                    height=`${imgHeight}`
                                )
                            .reviews__box
                                h3.reviews__name= review.name
                                p.reviews__count Купил #{review.count} книг
                        p.reviews__review= review.text
